{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="about">
        <div class="about__top"></div>
        <div class="about__story">
            <h1>Notre Histoire</h1>
            <p>Depuis ses modestes débuts dans un petit bureau en ville,</p>
            <p>NéoDesign Architecture a tracé son chemin vers l'avant-garde de l'innovation architecturale.</p>
            <p>Tout a commencé il y a 23 ans, lorsque deux jeunes architectes visionnaires,</p>
            <p>Emma et David, se sont rencontrés lors de leurs études à l'université.</p>
            <p>Animés par une passion commune pour la création de structures innovantes et durables, </p>
            <p>ils ont rapidement formé une alliance qui allait changer le paysage de l'architecture moderne.</p>
            <br>
            <p>Leur premier projet ensemble était modeste mais ambitieux : </p>
            <p>la rénovation écologique d'une vieille maison abandonnée en un espace de vie moderne et respectueux de l'environnement. </p>
            <p>Malgré les défis et les obstacles rencontrés en cours de route, Emma et David ont réussi à transformer cette vision en réalité,</p>
            <p>et ont ainsi posé les fondations de ce qui allait devenir NéoDesign Architecture.</p>
            <br>
            <p>Au fil des années, l'entreprise a grandi et évolué, attirant de nouveaux talents et élargissant son champ d'action.</p>
            <p>Avec chaque projet réalisé, Emma et David ont continué à repousser les limites de l'architecture traditionnelle,</p>
            <p>explorant de nouvelles technologies, matériaux et méthodes de construction pour créer des espaces innovants et durables.</p>
            <br>
            <p>Aujourd'hui, NéoDesign Architecture est reconnue dans le monde entier pour son approche novatrice de la conception architecturale.</p>
            <p>De gratte-ciels emblématiques à des complexes résidentiels écologiques en passant par des infrastructures publiques révolutionnaires,</p>
            <p>l'entreprise s'engage à repousser les frontières de l'architecture pour créer un avenir plus durable et inspirant.</p>
            <p>Chez NéoDesign Architecture, nous croyons en la puissance de l'innovation et de la créativité pour façonner un monde meilleur. </p>
            <p>Notre histoire est celle d'une passion partagée pour l'architecture,d'un engagement envers la durabilité </p>
            <p>et d'un désir incessant de repousser les limites de ce qui est possible.</p>
            <br>
            <p class="about__story__joinus">Rejoignez-nous dans notre mission de transformer l'avenir de l'architecture, un projet à la fois.</p>
        </div>

        <div class="about__bottom">
        </div>
    </div>


{% endblock %}

