{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="acceuil">
    <div class="acceuil__top">
        <div class="acceuil__content1">
            <h1>À Propos de NéoDesign Architecture</h1>
            <p>Depuis 2001, NéoDesign Architecture repousse les limites de l'architecture traditionnelle, </p>
            <p>en intégrant des technologies de pointe et des concepts durables dans chaque projet.</p>
            <p>Découvrez notre vision de l'avenir de l'architecture.</p>
        </div>
    </div>
</div>


{% endblock %}

